.main__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 396px);
  justify-content: center;
  grid-gap: 87px 47px;
  list-style-type: none;
  width: calc(100% - 40px);
  margin: auto;
  padding: 0;
}

.card {
  width: 396px;
}

.card__image {
  width: 396px;
  height: 309px;
  object-fit: cover;
  border-radius: 10px;
}

.card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__name {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

@media screen and (max-width: 490px) {
  .card {
    width: 320px;
  }

  .card__content {
    width: 320px;
  }

  .card__image {
    width: 320px;
    height: 207px;
  }

  .main__cards {
    grid-template-columns: repeat(auto-fit, 320px);
  }
}

@media screen and (max-width: 352px) {
  .card {
    width: 267px;
  }

  .card__image {
    width: 267px;
    height: 163px;
  }

  .card__content {
    width: 267px;
  }

  .main__cards {
    grid-template-columns: repeat(auto-fit, 267px);
  }
}
