.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(180deg, #ff6868, #ffa69e, #fff);
  height: 100vh;
  min-height: 500px;
  max-height: 650px;
  padding: 30px 50px 50px 40px;
  box-sizing: border-box;
  /* background-image: url("../images/"); 
  background-position: center;
  background-size: cover; */
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  left: 5px;
  max-width: 600px;
  max-height: 550px;
}

.header__title {
  max-width: 750px;
  letter-spacing: -0.6px;
  line-height: 75px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  z-index: 2;
}

.header__description {
  max-width: 650px;
  font-size: 25px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  z-index: 2;
}

.header__span-accent {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #fff;
  z-index: 2;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  z-index: 2;
}

/* .header__paragraph {
} */
