.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(180deg, #ff6868, #ffa69e, #fff);
  padding: 30px 50px 50px 40px;
}

.header__title {
  max-width: 750px;
  line-height: 75px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
}
